@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/poppins/Poppins-Light.ttf') format(truetype),
    url('/fonts/poppins/poppins-light-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-light-webfont.woff2') format(woff2),
    url('/fonts/poppins/Poppins-Regular.ttf') format(truetype),
    url('/fonts/poppins/poppins-regular-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-regular-webfont.woff2') format(woff2),
    url('/fonts/poppins/Poppins-SemiBold.ttf') format(truetype),
    url('/fonts/poppins/poppins-semibold-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-semibold-webfont.woff2') format(woff2),
    url('/fonts/poppins/Poppins-ExtraBold.ttf') format(truetype),
    url('/fonts/poppins/poppins-extrabold-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-extrabold-webfont.woff2') format(woff2),
    url('/fonts/poppins/Poppins-Black.ttf') format(truetype),
    url('/fonts/poppins/poppins-black-webfont.woff') format(woff),
    url('/fonts/poppins/poppins-black-webfont.woff2') format(woff2);
  font-weight: 300, 400, 600, 800, 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Poppins', sans-serif;

  --color-primary: #001bb7;
  --color-secondary: #ff7000;
  --radius-default: 10px;
  --color-neutral: #f5f1dc;
  --color-text: #1e1e1e;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme-primary='blue'] {
  --color-primary: #001bb7;
}

[data-theme-primary='green'] {
  --color-primary: #0c6113;
}

[data-theme-primary='purple'] {
  --color-primary: #38158a;
}

[data-theme-rounded='square'] {
  --radius-default: 0;
}

[data-theme-rounded='light'] {
  --radius-default: 5px;
}

[data-theme-rounded='mid'] {
  --radius-default: 10px;
}

[data-theme-rounded='heavy'] {
  --radius-default: 15px;
}

[data-theme='dark'] {
  --color-neutral: #1e1e1e;
  --color-text: #f1fdff;
}

[data-theme='light'] {
  --color-neutral: #f7feff;
  --color-text: #1e1e1e;
}

html,
body {
  scroll-behavior: smooth;
  background-color: var(--color-primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    font-family: var(--font-sans);
    color: var(--color-text);
    @apply border-border outline-ring/50;
  }
  button {
    cursor: pointer;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  p,
  span,
  div {
    font-size: 14px;
  }

  small {
    font-size: 10px;
    display: inline-block;
  }
  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 3px;
  height: 6px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-neutral-400);
  outline: 0;
  border-radius: 8px;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}